@import "maxin";
$font: IRANSans;
//$bg-color: #01001a;
$color-base: #fecb04;
$color-base-dark: #f4931d;
$color-dark_gray:#2e3743;
$color-gray:#8b8b8b;
$color-light-gray:#d3d3d3;
$color-white: #fff;
$bs-gray-800: #434b56;
$font-color:#333;
$bg-light-gray:#efefef;
$color-footer:#272f39;

%link_samle {
  text-decoration: none;
}
%ul {
  list-style: none;
  padding: 0;
}
%hover_transition {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
%center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bs-color {
  color: $color-base;
}
html {
  height: 100%;
  padding: 0px;
}
body {
  margin: 0px;
  height: 100%;
  font-family: $font;
  background-color: $color-white;
  @include font-size(12px);
  overflow-x: hidden;
  color: $font-color;
}
a {
  @extend %link_samle;
  color: inherit !important;
  &:hover{
    @extend %hover_transition;
    color: inherit;
  }
}
ul{
  @extend %ul;
}
.heading-line{
  @include heading-line;
  }
  .ul-style{
      @include ul-style;
  }
  .show_mob, .show-sm{display: none;}
  .show_lg{display: block;}
  .accordion{ 
    .accordion-item, .accordion-button{
      background: none !important;
      border: 0;
      font-size: .75rem;
     }
     .accordion-body{
       li{
         border: 0 !important;
         padding: 1rem 0;
       }
     }
   }

.header{
  background-color: $color-dark_gray;
   *{ font-weight: 100;}
   .accordion-item{display: none;}
 .accordion{
  .accordion-button{
    box-shadow: none;
          &::after{
            content: "";
            background: none;
            width: 6px;
            height: 6px;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            border-color: $color-base;
            border-style: solid;
            position: absolute;
            top: 19px;
            left: 23px;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
          }
        }
        .accordion-button[aria-expanded="true"]::after{
          -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
 }
   .bar-icon{
    display: block;
    position: relative;
    width: 26px;
    height: 1.1px;
    background-color: $color-white;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-bottom: 6px;
    overflow: hidden;
   }
   
   .navbar-toggler{
     padding-top: .7rem;
     &:focus{box-shadow: none;}
    }
    .navbar-toggler[aria-expanded="true"] > .bar-icon:nth-child(1) {
      opacity: 1;
      visibility: visible;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 10% 80% 0;
      -moz-transform-origin: 10% 80% 0;
      -ms-transform-origin: 10% 80% 0;
      transform-origin: 10% 80% 0;
      left: 0;
     }
     .navbar-toggler[aria-expanded="true"] > .bar-icon:nth-child(2){
      right:-15px;opacity: 0;       
     }
     .navbar-toggler[aria-expanded="true"] > .bar-icon:nth-child(3){
      opacity: 1;
      visibility: visible;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 13% 80% 0;
      -moz-transform-origin: 13% 80% 0;
      -ms-transform-origin: 13% 80% 0;
      transform-origin: 13% 80% 0;
      left: 0;
     }
  a{color: $color-white !important}
  .banner{
    background-image: url("../img/chant.png");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 70% auto;
      height: 38px;
      width: 195px;
      margin-top: 1.1rem;
      float: left;
  }
.logo{
  a{
    float: right;
  }
}
.langs{display: inline-block;
.list-group-item{
  background: none;border: none;}
ul{
  li:first-child {
    padding-right: 2px;
  }
}
} 

 .date{display: block;
  span{color: $color-gray;}
}
nav{
  border-top:1px solid $bs-gray-800 ;
  padding-top: 0 !important;
  li{margin-top: -1px;border-top: 1px solid transparent;}
  li:hover{
    border-top: 1px solid $color-base;
    
    @extend %hover_transition;
  }
}
.icon-magnifier{
  @include font-size(32px);
}
}
.slider{
  .carousel-control-next, .carousel-control-prev{ width: 6% !important;}
  .carousel-indicators [data-bs-target]{width:11px;height:11px;opacity: .5;
    border-radius: 50%;}
    .carousel-indicators .active{background-color: $color-base !important;}
    .carousel-indicators{bottom: -1.2rem;}
}
.news{
  .btn-h{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 10px;
    a{
      padding: 10px 0;
    display: inline-block;
    width: 100%;
    background-color: $color-base;
    font-weight: 600;
    text-align: center;
    color: inherit;
    }
  }
  .go2eb a{
    border: 2px solid $color-base !important;
    background-color: $color-white;
  }
  .detail{
    display: inline-block;
    margin-bottom: 10px;
    width: auto;
    color: $color-base;
    padding-right: 2px;
  }    
    strong{color: $color-base;}
    .mobile-bank{
      position: relative;
      border: 1px solid $color-light-gray;
    margin-right: -15px;
    padding: .5rem 1.5rem;
      span,i{display: block}
      a{
        text-align: center;
        i{@include font-size(48px);margin-bottom: .8rem;}
      }
    }
    .news-bnk{
      .ul-style {
        margin-bottom: 0;
        li::before{
          border-color: $color-base;
        }
      }
      i{
        opacity: .8;
        display: inline-block;
    position: absolute;
    left: 0;
    top: 8px;
    width: auto;
    font-style: normal;
    @include font-size(12px);
      }
    }
    .archive-news{
      text-align: left;
      a{
        opacity: .8;
        border-bottom: 1px solid $color-light-gray;
      }
    }
}
.services{
  background-color: $bg-light-gray;
  ul{
    li{      
      width: calc(100% / 11);
      text-align: center
    }
    i{
      @include font-size(40px);
      display: block;
    }
    span{
      padding: .5rem 0;display: block;
    }
    svg{
      display: block;
      margin: 0 auto;
      fill: $color-dark_gray;
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
    a:hover{
      color: $color-base-dark;
      svg{
        fill:$color-base-dark;
      }
    }
  }
}
.service-pic{
  .card{
    img{
      border-radius: 0;
      height: 100%;
    }
    border-radius: 0;
    border: none;
  }
  .card-img-overlay{
    top:unset !important;
    border-radius: 0;
    height: 42px;
    padding: 0.8rem 1rem;
    background-color: rgba(46, 55, 67, 0.5);
  }
  
  .two-col{
    height: 100%;
    .card{
      height: 47%;
    }
  }
}
.tabs{  
  
  .nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover {
    border-color: #fff #fff #dee2e6 !important;
    isolation: isolate;
}
  .nav-item{
    width: 25%;
    text-align: center;
    a{
      border-radius: 0;
    padding: 2rem 0px;
    &.active{
      border-top:1px solid $color-base !important;
    }
    }
  }
  .tab-content{
    padding: 2rem 0.5rem;
    border: 1px solid #dee2e6 ;
    border-top:none ;
  }
  .info-cont{
    background-color: $bg-light-gray;
    height: 100%;
    strong{float: left;
    }
    .phone{
      @include font-size(18px);}
    a{display: block;text-align: center;}
    .fill-btn{
      margin: 1.5rem 0;
    background-color: $color-base;
    padding: 1rem;
    }
    li{
      padding: .5rem 0;
    }
  }
  .head-title{
    background-color: $bg-light-gray;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    p{
      margin-bottom: 0;
    }
  }
  .info-num{
    li{
      display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;
    border-top: 1px solid #e6e6e6;
    letter-spacing: -0.5px;
    padding: .5rem 75px .5rem 0;
    }
    span{
      position: absolute;
    right: 0;
    border-top: 1px solid $color-base;
    top: -1px;
    bottom: 0;
    line-height: 3;
    }
    p{display: inline-block;margin-bottom: 0;opacity: .7;}
  }
  #ex1-tabs-2{
    table {
      ~div {span{border-bottom: 1px solid $color-gray;}}
      thead tr th{
        border: none;
        @include font-size(12px);
        font-weight: 400;
      }
      tbody{border-top:none}
      tr {
        th:nth-child(2), th:nth-child(3),
        td:nth-child(2),td:nth-child(3)
        {text-align: center;}
        th i{font-style:normal ;}
        &:last-child{border-bottom: none;td{border:none;}}
      }
    }
    .world-index, .changer{
      display: block;
    width: 100%;
    margin: 0 auto 4px;
    height: 60px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 98px;
    }
    .world-index{background-image: url("../img/icons/burse1.svg");background-size: 58% auto;}
     .changer{background-image: url("../img/icons/burse2.svg");}
     .bg{
       background-color: $color-base;
       padding: 1rem 0;
       .title{
        text-align: center;
        border-bottom: 1px solid $color-white;
        padding: 0 1rem 1rem;
        font-weight: 600;
       }
       .col{
         line-height: 2.5;
         b{font-weight: normal;}
         &.sec{background-color: $color-white;a{padding: 1rem;
          display: block;}}
       }
     }

  }
  #ex1-tabs-3{
    li{
      &:before{border-color: $color-base;}
      a:hover{color: $color-base !important;}
    }
  }
}
.serv2{
  background-color: $bg-light-gray;
}
.award-bnk{
  .multi-carousel{
    direction: ltr !important;
    .multi-carousel-item{text-align: center;img{width: 88px;}}
    .carousel-control-prev{right:-5rem}
    .carousel-control-next{left:-5rem}
    .carousel-control-prev,.carousel-control-next{
      filter:invert(1) grayscale(100);
    }
  }
}
footer{
  .q-access{background-color: $color-dark_gray;
  h3.titr{    
    @include font-size(14px);
    color: $color-base;
    margin-bottom: 1rem;
  }
  a{
    @include font-size(11px);
    color: $color-white !important;
    font-weight: normal;
    line-height: 3;
    &:hover{
      color:$color-base !important;
    }
  }
  }
  .bank-logos{
    background-color: $color-footer;
    li{
      &:not(:last-child){
        margin-left: 5px;
      }
      display: inline-block;
      width:calc(100% / 10);
      a{
        filter: grayscale(1);
        transition: all .3s;
        &:hover{
          filter: grayscale(0);
        }
      }
    }
  }
 .contact{
   background-color: #12171f;
   .r-cnt{
     li{
       display: inline-block;
       color: $color-white;
       margin-left: .5rem; 
       a:hover{
         color: $color-base !important;
       }      
     }
     .copy-right{
      color: #d3d3d3;
      opacity: 0.6;
      display: flex;
      align-items: center;
       i{
         @include font-size(80px);
       }
       span{
       margin-right: 10px;
       }
     }
   }
   .l-cnt{
     color: $color-white;
     img{
       width: 24px;
       height: 24px;
       filter: grayscale(1);
     }
     a:hover img{
      filter: grayscale(0);
     }
     p{margin-bottom: 0;}
     .f-line{
      border-bottom: 1px solid $color-white;
      padding-bottom: 0.7rem;
       *:not(:last-child){margin-left: 5px;}
     }
     strong{
       color:$color-base;
       @include font-size(16px);
     }
     .icon-tel{
       @include font-size(48px);
       margin-right: .5rem;
     }
   }
 } 
}
@media (min-width: 767px) and (max-width: 767px){
.services ~ .service-pic{
  .card-title{
    height: 1rem;
    overflow: hidden;
    display: inline-block;
  }
}
}
@media screen and (max-width: 991px){
  .hide_mob{display: none !important;}
  .show_mob{display: block !important;}
  .header {    
  .accordion-item{display: block;}
    .navbar-toggler{
      margin: 1.5rem 0;
    }
    header{display: none;}
    .mob-log{width: 0;padding: 0;}
    .logo{
      @include center(horizontal);
      top: 0;
      img{
        height: 70px;
    margin: 0.5rem 0;
      }
    }
    .search{
      position: absolute;
      top: 2rem;
      left: 0;
    }
    nav {
      li{
        margin-top: 0;
        border-top: none;
        &:not(:last-child){
          border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        }
        a{
          padding: 15px 0;
        }
        &:hover {
          border-top: none;
      }
      }
    }
  }
  .news{
    .news-bnk{
      li a{
        display: inline-block;
        position: relative;
        width: 70%;
        text-align: justify;
        overflow: hidden;
        max-height: 1.2rem;
      }
    }
    .mobile-bank{
      padding: 0.5rem;
    }
  }
  .services {
    ul {
      flex-wrap: wrap;
      li {
        width: calc(100% / 3);
      }
    }
  }
  .service-pic{
    .card-img-overlay{
      padding: 0.5rem;
      height: 36px;
      .card-title{
        font-size: .55rem;
      }
    }
  }
  .tabs{
    #ex1-tabs-1 > div{
      position: relative;
      padding-bottom: 3rem;
    }
    .fill-btn{
      right: 0;
      position: absolute;
      bottom: -2rem;
      width: 100%;
    }
    #ex1-tabs-2 .bg
    {
      span{font-size: .55rem;}
       .col.sec a{
      padding: 1rem 0;
    }
  }
  }
  .award-bnk{
    .bbank{
      text-align: center;
      > div{
        margin: 1rem 0;
      }
    }
    .multi-carousel{
      .carousel-control-prev{right:-1rem}
      .carousel-control-next{left:-1rem}
      .multi-carousel-inner .multi-carousel-item{width:32% !important}
    }
  }
footer, #ex1-tabs-3{
  .accordion{
    .accordion-item:not(.head-req){
      border-bottom: 1px solid #474e57;
    }
    .accordion-button::after{
      content: "\002B";
      background: none !important;
      font-size: 1.2rem;
      @include center(vertical);
      left: 11px;
      line-height: 1;
      font-weight: 100;
    }
    .accordion-button[aria-expanded="true"]::after{
      content: "\e92a";
      position: absolute;
      font-family: 'nyn05';
      width: 10px;
      height: 10px;
      display: inline-block;
      font-size: 0.75rem;
      left: 23px;
      @include center(vertical);
      font-weight: 100;
      color: $color-base;
    }
  }
}
}

@media screen and (max-width: 767px){
  .show-sm{display: block;}
  .hide-sm{display: none;}
  .news .news-bnk li{
    a, i{
      letter-spacing: -1px;
    }
  }
  .services ul li {
    width: calc(100% / 2);
}

.tabs {
  .head-title p{font-size: .6rem;}
  .nav-link{
    font-size: .6rem;
  }
  .accordion-body{padding: 1rem 0 !important;}
  .nav-item{width: 32%;}
}
#ex1-tabs-1 .head-title{margin-top: 1rem;}
.exchange-block{
  background-color: $bg-light-gray;
  margin-top: 2rem;
  padding-top: 2rem;
  .bg{
    background: none !important;
    .title{
      border: none !important;
      padding: 0 .5rem !important;
      ~ div{margin-top: 0.5rem !important;}
      
    }
    span{
      font-size: 0.7rem !important;
      color: $bs-gray-800 !important;
      font-weight: normal !important;
    }
    > div.d-flex {
      flex-direction: column;
    }
    .col.sec{
      width: 100%;
      margin: 1rem 0;
    }
  }
}
#ex1-tabs-3 {
  .ul-style li:before{top:21px !important}
  a[aria-expanded="true"]{color: $color-base !important;box-shadow: none !important;}
  .accordion-item:not(.head-req){
 border-bottom: 1px solid $bg-light-gray !important
}
}
.service-pic .card{margin-bottom: 1rem;}
.award-bnk .multi-carousel .multi-carousel-inner .multi-carousel-item {
  width: 50% !important;
}

footer{
  .q-access{
    padding-top: 1rem !important;
  }
  .multi-carousel{
    direction: ltr !important;
    .carousel-control-next, .carousel-control-prev{width: 5% !important;}
    .carousel-control-next {
      left: -0.5rem !important;
  }
  .carousel-control-prev {
    right: -0.5rem !important;
}
    .multi-carousel-item{
      width: 20% !important;text-align: center;
      a{
        filter: grayscale(1);
        transition: all 0.3s;
        &:hover{
          filter: grayscale(0);
        }
      }
    }
  }
  .contact{
  position: relative;
  }
  .l-cnt{
    .f-line{border: 0 !important;}
    > ul{
      flex-direction: row !important;
      justify-content: space-between;
      border-bottom: 1px solid $color-white;
      margin: 3rem 0 4rem;
      li:last-child{
        @include center(horizontal);
        height: 50px;
  top: .5rem;
      }
    }
  }
}
.copy-right{
  @include center(horizontal);
  height: 50px;
  bottom: .5rem;
  i{
    font-size: 3rem !important
  }
}
}